/** 
    File: Responsive.scss
    Description: 
*/

@media screen and (max-width: 800px) 
{
    body 
    {
        
        
    }

    header nav ul li
    {
        width: 100%;
        margin: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
    }

    #menu-footer li
    {
        width: 100%;
        text-align: center;
        margin: 0px;
        
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #menu-misc li
    {
        width: 100%;
        margin: 0px;
        
        margin-top: 8px;
        margin-bottom: 8px;

        text-align: center;
    }
  }