/** 
    File: Responsive.scss
    Description: 
*/

@media screen and (max-width: 1200px) 
{
    .about-overlay
    {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .about-overlay-objectives
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    .about-overlay-objectives span
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    .about-overlay-goals span
    {
        grid-column: span 6;
    }

    .about-overlay-goals
    {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-overlay-goals img 
    {
        grid-column: span 6;
    }

    .about-overlay-objectives span p
    {
        grid-column: span 6;

    }

}


@media screen and (max-width: 800px) 
{
    body 
    {
        
        
    }

    header nav ul li
    {
        width: 100%;
        margin: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
    }

    #menu-footer li
    {
        width: 100%;
        text-align: center;
        margin: 0px;
        
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #menu-misc li
    {
        width: 100%;
        margin: 0px;
        
        margin-top: 8px;
        margin-bottom: 8px;

        text-align: center;
    }

    .about-overlay
    {
        padding:0px;
        margin:0px;
    }

    .about-overlay-goals
    {
        padding: 0px;
        margin:0px;
    }

    .about-overlay-goals p 
    {
        padding-left: 32px;
        padding-right: 32px;
    }

    .about-overlay-objectives
    {
        padding: 0px;
        margin:0px;
    }

    
    .about-overlay-objectives span 
    {
        padding: 0px;
        margin: 0px;
    }
  }