/** 
    File: Template.scss
    Description: 
*/

.hidden
{
    display: none;
}

// section colors
$default : #EFEFEF;

$header-menu-color : #2D3436;
$footer-misc-color : $default;
$footer-menu-color : $default;